#login{
    font-family: 'Quicksand', sans-serif;
    background-image: url("../images/bg_blur.jpg");
    background-size: 1920px auto;
    background-position: top;
    position: fixed;
    height: 100%;
    width: 100%;
}

#home{
    font-family: 'Quicksand', sans-serif;
    background-color: whitesmoke;
}

body{
    margin: 0;
}

.nav{
    height: 100%;
    width: 200px;
    background-image: url("../images/bg_blur.jpg");
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.514);
}
.nav>ul{
    padding-left: 0;
}
.nav>ul>li{
    width: 100%;
    text-align: center;
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color .2s ease-in;
    color: white;
}
.nav>ul>li:hover{
    background-color: rgba(255, 255, 255, 0.274);
    cursor: pointer;
}

.nav>.picture{
    width: 180px;
    height: 180px;
    background-color: rgba(255, 255, 255, 0.726);
    margin-right:auto;
    margin-left: auto;
    margin-top: 10px;
    border-radius: 90px;
}

.top-nav{
    padding-top: 5px;
    height: 30px;
    width: auto;
    padding-right: 20px;
}
.top-nav>ul>li{
    font-size: 25px;
    display: inline;
    float: right;
    padding-right: 5px;
    padding-left: 5px;
    color: grey;
    text-decoration: none;
    transition: all .3s ease-in;
}

.top-nav>ul>li:hover{
    color:black;
}

a:link,a:visited{
    color:inherit;
}

.content{
    margin-left: 200px;
    height: 100%;
    background-color: transparent;
}


h1{
    font-size: 50px;
}

.card>.right>.heading{
    font-size: 25px;
}

.card>.right{
    width: 50%;
    padding-top: 75px;
    float: right;
    color: white;
}

.card>.left{
    width: 49%;
    background-color: transparent;
    border-right-color: rgba(0, 0, 0, 0.226);
    border-right-style: solid;
    float:left;
    color: white;
    margin-top: 40px;
    height: 80%;
}

.card-container{
    width: 700px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
}


.card-bg{
    filter: blur(0px);
    background-image: url("../images/bg.jpg");
    background-size: 1920px auto;
    background-position-x: -610px;
    background-position-y: -160px;
    margin-right: inherit;
    margin-left: inherit;
    margin-top: inherit;
    width: inherit;
    height: inherit;
    position: absolute;
}

.card{
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(255, 255, 255, 0.233);
    margin-right: inherit;
    margin-left: inherit;
    margin-top: inherit;
    text-align: center;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.288);
}

.card>.right>form{
    padding: 40px;
    
}

.card>.right>form>input[type=text]{
    background-image: url("../images/person.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.card>.right>form>input[type=password]{
    background-image: url("../images/lock.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.card>.right>form>input[type=text],
.card>.right>form>input[type=password]{
    font-size: 17px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    padding-left: 25px;
    margin-top: 10px;
    border-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.349);
    background-color: inherit;
    transition: border-bottom-color .3s ease-in;
}

.card>.right>form>input[type=text]:hover,
.card>.right>form>input[type=password]:hover{
    border-bottom-color: rgba(0, 0, 0, 0.788);
}

.card>.right>form>button[type=submit]{
    font-size: 20px;
    padding: 10px;
    margin: 40px;
    border-radius: 40px;
    /* box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.514); */
    background-color: rgba(255, 255, 255, 0.24);
    border-color: black;
    color: black;
    transition: all .3s ease-in;
}

.card>.right>form>button[type=submit]:hover{
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.514); */
    background-color: black;
    color: white;
    cursor: pointer;
}

